.general_container {
    position: relative;
    text-align: center;

    .container_one {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3rem auto;

        .button_container {
            margin: auto 1rem;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 -1rem 0 0;
        }
    }


    .modal_container {
        text-align-last: center;
    }
}