@import "../../../variables.scss";

.modal_container {
    .row {
        align-self: center;

        .col {
            width: 30rem;
            height: 40rem;
            border-radius: 2rem;
            border: .4rem solid $yellow;
            margin: 1.5rem 3.1rem 2rem 1.2rem;
            box-shadow: 2px 2px 2px .5px rgba(0, 0, 0, 0.2);
            transition: 200ms all;

            .container {
                display: flex;
                flex-direction: column;

                .header_modal_container {
                    position: relative;

                    .modal_icon {
                        width: 3rem;
                        position: absolute;
                        left: 1.3rem;
                        top: 1rem;
                        transition: 200ms all;
                    }

                    .modal_icon:hover {
                        filter: saturate(200%);
                        transform: scale(1.1);
                    }

                    .type {
                        position: absolute;
                        left: 4.5rem;
                        top: .2rem;

                        .pokemon_type {
                            display: inline-block;
                            vertical-align: middle;
                            margin: 1.5rem .15rem;
                        }
                    }

                    .pokemon_id {
                        font-family: $font-pokedex;
                        font-weight: $bold;
                        position: absolute;
                        right: 2rem;
                    }
                }

                .image_container {
                    width: 28rem;
                    height: 20rem;
                    border-radius: 1rem;
                    overflow: hidden;
                    margin: 4.5rem auto;
                    border: .3rem solid $yellow;
                    box-shadow: 2px 2px 2px .5px rgba(0, 0, 0, 0.2);
                    position: relative;
                    background-image: url("./img/wallpaper.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    .image_crop {
                        width: 15rem;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                .name_container {
                    width: 28rem;
                    height: 12rem;
                    border-radius: 1rem;
                    overflow: hidden;
                    font-family: $font-pokedex;
                    text-transform: capitalize;
                    margin: -3.5rem auto;
                    // border: .2rem solid #000;

                    .pokemon_name {
                        margin: 0;
                        font-size: 3.5rem;
                        font-weight: $regular;
                    }
                }
            }
        }

        .col:hover {
            transform: scale(1.02);
        }
    }
}

.col:first-child {
    background-color: $blue;
    color: #FFF;
}

.col:nth-child(2) {
    background-color: $dark-red;
    color: #fff;
}

.col:nth-child(2n + 3) {
    background-color: $blue;
    color: #FFF;
}

.col:nth-child(2n + 4) {
    background-color: $dark-red;
    color: #fff;
}